html{
			font-size: 62.5%;
			color: white;
			background-color: rgb(104,205,214);
		}
		header{
			position: absolute;
			top: 1rem;
			left: 1rem;
			width: 3rem;
		}
		main{
			text-align: center;
			margin: 8rem 2rem 2rem 2rem;
		}
		.logo{
			width: 8rem;
		}
		.content{
			margin: 10rem 0 10rem 0;
		}
		.left{
			float: left;
			margin: 2rem;
			width: 4rem;
		}
		.right{
			float: right;
			margin: 2rem;
			width: 4rem;
		}
		img{
			max-width:100%;
		}