*{
	margin: 0px;
	padding: 0px;
}
/*通用格式*/
.block{
	padding-left:30%;
	padding-bottom: 30%;
	margin: 2.5% 0 0 2.5%;
	border-radius: 20%;
	background: orange;
	float:left;
}
a{
	display: inline-block;
	margin-top: 5%;
}