*{
    margin: 0vw;
    padding: 0vw;
}
.box:after{
    content: '';
    clear: both;
    display: block;
}
.block{
	background: orange;
	border-radius: 5vw;
	width: 30vw;
	padding-top: 30vw;
	margin: 2.5vw 0 0 2.5vw;
	float: left; 
}
a{
    display: inline-block;
    margin-top: 5%;
}